In [37]:
import pandas as pd 
import numpy as np

In [38]:
df = pd.read_csv(r"C:\Users\GS0864\OneDrive\Desktop\for_vs_code\CAR_PRICE_PREDICTION\car_data_cleaning\merging all\car_data.csv",index_col = 0)

C:\Users\GS0864\AppData\Local\Temp\ipykernel_10424\930217098.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\GS0864\OneDrive\Desktop\for_vs_code\CAR_PRICE_PREDICTION\car_data_cleaning\merging all\car_data.csv",index_col = 0)

In [39]:
df

,Unnamed: 0,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size,Ground Clearance Unladen,City
0,0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,NaN,Banglore
1,1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,NaN,Banglore
2,2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,...,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,NaN,Banglore
3,3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,...,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,NaN,Banglore
4,4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,...,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,NaN,Banglore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless, Radial",5.0,313,NaN,NaN,Kolkata
8365,1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,...,Solid Disc,Drum,140 kmph,19 Seconds,Tubeless Tyres,5.0,177-litres,NaN,NaN,Kolkata
8366,1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,...,Ventilated Disc,Solid Disc,230km/hr,8.8 Seconds,"Tubeless,Radial",4.0,475-litres,17,NaN,Kolkata
8367,1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,...,Ventilated Disc,Drum,156 Kmph,15 Seconds,"Tubeless,Radial",5.0,236-liters,14,NaN,Kolkata
8368,1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,...,Disc,Drum,168 Kmph,14.20 Seconds,"Tubeless,Radial",5.0,410-litres,16,NaN,Kolkata

In [40]:
df.columns

Index(['Unnamed: 0', 'it', 'ft', 'bt', 'km', 'transmission', 'ownerNo',
       'owner', 'oem', 'model', 'modelYear', 'centralVariantId', 'variantName',
       'price', 'priceActual', 'priceSaving', 'priceFixedText',
       'trendingText.imgUrl', 'trendingText.heading', 'trendingText.desc',
       'heading', 'bottomData', 'Engine Displacement', 'Fuel Type',
       'Insurance Validity', 'Kms Driven', 'Ownership', 'RTO',
       'Registration Year', 'Seats', 'Transmission', 'Year of Manufacture',
       'heading.1', 'commonIcon', 'Engine', 'Max Power', 'Mileage', 'Seats.1',
       'Torque', 'Wheel Size', 'Color', 'Engine Type', 'Displacement',
       'Max Power.1', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger', 'Length',
       'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread',
       'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
       'Seating Capacity', 'Steering Type', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type', 'No Door Numbers', 'Cargo Volumn', 'Alloy Wheel Size',
       'Ground Clearance Unladen', 'City'],
      dtype='object')

In [41]:
df.drop(['it', 'ft', 'owner', 'oem', 'centralVariantId', 'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
'trendingText.heading', 'trendingText.desc', 'heading', 'bottomData', 'Kms Driven', 'RTO', 'Year of Manufacture', 'heading.1',
'commonIcon', 'Max Power', 'Seats.1', 'Torque', 'Wheel Size', 'Engine Type', 'Displacement', 'Max Power.1', 'Max Torque',
'No of Cylinder', 'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke', 'Compression Ratio',
'Length', 'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
'Seating Capacity', 'Turning Radius', 'Front Brake Type', 'Rear Brake Type', 'Acceleration', 'Tyre Type', 'Alloy Wheel Size',
'Ground Clearance Unladen', 'variantName','Ownership', 'Registration Year','Transmission','Engine Displacement'], axis =1, inplace = True)

In [42]:
df

,Unnamed: 0,bt,km,transmission,ownerNo,model,modelYear,price,Fuel Type,Insurance Validity,...,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,...,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,Banglore
1,1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,...,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,Banglore
2,2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,...,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,Banglore
3,3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,...,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,Banglore
4,4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,...,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,Banglore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,1376,Hatchback,"10,000",Manual,1,Maruti Celerio,2022,₹ 5.10 Lakh,Petrol,Third Party insurance,...,998 CC,25.24 kmpl,Others,NaN,NaN,Electric,NaN,5.0,313,Kolkata
8365,1377,Hatchback,"1,20,000",Manual,1,Maruti Alto 800,2014,₹ 1.80 Lakh,Petrol,Third Party insurance,...,796 CC,22.74 kmpl,Others,No,No,Power,140 kmph,5.0,177-litres,Kolkata
8366,1378,Sedan,"50,000",Automatic,3,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Petrol,Third Party insurance,...,1796 CC,11.74 kmpl,Others,No,No,Power,230km/hr,4.0,475-litres,Kolkata
8367,1379,Hatchback,"40,000",Manual,1,Maruti Ritz,2012,₹ 1.40 Lakh,Petrol,Third Party insurance,...,1197 CC,18.5 kmpl,Others,No,No,Power,156 Kmph,5.0,236-liters,Kolkata
8368,1380,SUV,"1,20,000",Manual,2,Renault Duster,2017,₹ 5 Lakh,Diesel,Third Party insurance,...,1461 CC,19.72 kmpl,Others,Yes,No,Power,168 Kmph,5.0,410-litres,Kolkata

In [43]:
df.drop(['Unnamed: 0'],axis =1 , inplace = True)

In [44]:
df.drop_duplicates(inplace=True)

In [45]:
df

,bt,km,transmission,ownerNo,model,modelYear,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,Banglore
1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,5 Seats,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,Banglore
2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,5 Seats,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,Banglore
3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,5 Seats,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,Banglore
4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,5 Seats,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,Banglore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,"10,000",Manual,1,Maruti Celerio,2022,₹ 5.10 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,25.24 kmpl,Others,NaN,NaN,Electric,NaN,5.0,313,Kolkata
8365,Hatchback,"1,20,000",Manual,1,Maruti Alto 800,2014,₹ 1.80 Lakh,Petrol,Third Party insurance,5 Seats,796 CC,22.74 kmpl,Others,No,No,Power,140 kmph,5.0,177-litres,Kolkata
8366,Sedan,"50,000",Automatic,3,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Petrol,Third Party insurance,5 Seats,1796 CC,11.74 kmpl,Others,No,No,Power,230km/hr,4.0,475-litres,Kolkata
8367,Hatchback,"40,000",Manual,1,Maruti Ritz,2012,₹ 1.40 Lakh,Petrol,Third Party insurance,5 Seats,1197 CC,18.5 kmpl,Others,No,No,Power,156 Kmph,5.0,236-liters,Kolkata
8368,SUV,"1,20,000",Manual,2,Renault Duster,2017,₹ 5 Lakh,Diesel,Third Party insurance,5 Seats,1461 CC,19.72 kmpl,Others,Yes,No,Power,168 Kmph,5.0,410-litres,Kolkata

In [46]:
df.head()

,bt,km,transmission,ownerNo,model,modelYear,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,Banglore
1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,5 Seats,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,Banglore
2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,5 Seats,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,Banglore
3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,5 Seats,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,Banglore
4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,5 Seats,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,Banglore

In [47]:
df.rename(columns={'bt' : 'body type', 'km': 'Kilometers driven', 'transmission': 'Transmission type','ownerNo': 'Number of owners', 'model': "car model", 'modelYear': 'Year of manufacture', 'No Doors Numbers': 'No of Doors'},inplace = True)

In [48]:
df.head()

,body type,Kilometers driven,Transmission type,Number of owners,car model,Year of manufacture,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,Hatchback,"1,20,000",Manual,3,Maruti Celerio,2015,₹ 4 Lakh,Petrol,Third Party insurance,5 Seats,998 CC,23.1 kmpl,White,No,No,Power,150 Kmph,5.0,235-litres,Banglore
1,SUV,"32,706",Manual,2,Ford Ecosport,2018,₹ 8.11 Lakh,Petrol,Comprehensive,5 Seats,1497 CC,17 kmpl,White,No,No,Power,NaN,4.0,352-litres,Banglore
2,Hatchback,"11,949",Manual,1,Tata Tiago,2018,₹ 5.85 Lakh,Petrol,Comprehensive,5 Seats,1199 CC,23.84 kmpl,Red,No,No,Power,150 kmph,5.0,242-litres,Banglore
3,Sedan,"17,794",Manual,1,Hyundai Xcent,2014,₹ 4.62 Lakh,Petrol,Comprehensive,5 Seats,1197 CC,19.1 kmpl,Others,No,No,Power,172km/hr,4.0,407-litres,Banglore
4,SUV,"60,000",Manual,1,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Diesel,Third Party insurance,5 Seats,1248 CC,23.65 kmpl,Gray,Yes,No,Power,190 Kmph,5.0,353-litres,Banglore

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8261 entries, 0 to 8368
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   body type            8257 non-null   object
 1   Kilometers driven    8261 non-null   object
 2   Transmission type    8261 non-null   object
 3   Number of owners     8261 non-null   int64
 4   car model            8261 non-null   object
 5   Year of manufacture  8261 non-null   int64
 6   price                8261 non-null   object
 7   Fuel Type            8261 non-null   object
 8   Insurance Validity   8257 non-null   object
 9   Seats                8255 non-null   object
 10  Engine               8257 non-null   object
 11  Mileage              7977 non-null   object
 12  Color                8258 non-null   object
 13  Turbo Charger        7234 non-null   object
 14  Super Charger        6327 non-null   object
 15  Steering Type        8007 non-null   object
 16  Top Speed            4545 non-null   object
 17  No Door Numbers      8250 non-null   float64
 18  Cargo Volumn         6693 non-null   object
 19  City                 8261 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.3+ MB

In [50]:
#changing for kilometer driven column

df['Kilometers driven'] = df['Kilometers driven'].str.replace(',','').astype(int)

In [51]:
print(df["Kilometers driven"])

0       120000
1        32706
2        11949
3        17794
4        60000
         ...
8364     10000
8365    120000
8366     50000
8367     40000
8368    120000
Name: Kilometers driven, Length: 8261, dtype: int64

In [52]:
import re

def convert_price(price_str):
    # Remove ₹ symbol and commas (if any)
    price_str = re.sub(r'[₹,]', '', price_str)

    # Strip any leading or trailing whitespace
    price_str = price_str.strip()

    # Handle 'Lakh' or 'Lakhs'
    if 'Lakh' in price_str:
        # Remove 'Lakh' or 'Lakhs' and convert the remaining string to a float
        price_str = price_str.replace('Lakh', '').replace('Lakhs', '').strip()
        return float(price_str) * 10**5

    # Handle 'Crore' or 'Crores'
    elif 'Crore' in price_str:
        # Remove 'Crore' or 'Crores' and convert the remaining string to a float
        price_str = price_str.replace('Crore', '').replace('Crores', '').strip()
        return float(price_str) * 10**7

    # For values without 'Lakh' or 'Crore', just return the float version of the number
    else:
        return float(price_str)

# Example usage
df['price'] = df['price'].apply(convert_price)

In [53]:
print(df['price'])

0       400000.0
1       811000.0
2       585000.0
3       462000.0
4       790000.0
          ...
8364    510000.0
8365    180000.0
8366    550000.0
8367    140000.0
8368    500000.0
Name: price, Length: 8261, dtype: float64

In [54]:
df['Insurance Validity'].value_counts()

Insurance Validity
Third Party insurance    3960
Comprehensive            3137
Third Party               630
Zero Dep                  303
Not Available             223
1                           3
2                           1
Name: count, dtype: int64

In [55]:
df['Insurance Validity'] = df['Insurance Validity'].str.replace("Third Party insurance insurance", "Thire Party insurance")
df['Insurance Validity'] = df["Insurance Validity"].str.replace("1", 'First Party insurance')
df["Insurance Validity"] = df["Insurance Validity"].str.replace("2", 'Second Party insurance')

In [56]:
df['Insurance Validity'].value_counts()

Insurance Validity
Third Party insurance     3960
Comprehensive             3137
Third Party                630
Zero Dep                   303
Not Available              223
First Party insurance        3
Second Party insurance       1
Name: count, dtype: int64

In [57]:
# changing the dtype and removing the seats string in columns
df['Seats'] = df['Seats'].str.replace('Seats', '').astype(float)

In [58]:
# changing the d type and removing the string in enhine columns

df['Engine'] = df['Engine'].str.replace('CC','').astype(float)

In [59]:
#changing dtype and removing string value in mileage column and topspeed
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '').str.replace('km/kg','').astype(float)

In [60]:
df['Top Speed'] = df['Top Speed'].str.replace(r'[^\d.]', '', regex=True).replace('',np.nan)
df['Top Speed'] = df['Top Speed'].astype(float)

In [61]:
# changing the dtype and removing the string in Cargo Volumn columns
df['Cargo Volumn'] = df['Cargo Volumn'].str.replace(r'[^\d.]', '', regex=True)
df['Cargo Volumn'] = df['Cargo Volumn'].astype(float)

In [62]:
# replacing the correct string format in Steering Type column

replacement = {
    'power' : 'Power',
    'Electronic': 'Electric',
    'Electrical': 'Electric',
    'electric': 'Electric'
}


df['Steering Type'] = df['Steering Type'].replace(replacement)

In [63]:
# standardize the formatting of text data
df['Turbo Charger'] = df['Turbo Charger'].str.capitalize()

In [64]:
# standardize the formatting of text data
df['Super Charger'] = df['Super Charger'].str.capitalize()

In [65]:
df

,body type,Kilometers driven,Transmission type,Number of owners,car model,Year of manufacture,price,Fuel Type,Insurance Validity,Seats,Engine,Mileage,Color,Turbo Charger,Super Charger,Steering Type,Top Speed,No Door Numbers,Cargo Volumn,City
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,Petrol,Third Party insurance,5.0,998.0,23.10,White,No,No,Power,150.0,5.0,235.0,Banglore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,Petrol,Comprehensive,5.0,1497.0,17.00,White,No,No,Power,NaN,4.0,352.0,Banglore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,Petrol,Comprehensive,5.0,1199.0,23.84,Red,No,No,Power,150.0,5.0,242.0,Banglore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,Petrol,Comprehensive,5.0,1197.0,19.10,Others,No,No,Power,172.0,4.0,407.0,Banglore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,Diesel,Third Party insurance,5.0,1248.0,23.65,Gray,Yes,No,Power,190.0,5.0,353.0,Banglore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,10000,Manual,1,Maruti Celerio,2022,510000.0,Petrol,Third Party insurance,5.0,998.0,25.24,Others,NaN,NaN,Electric,NaN,5.0,313.0,Kolkata
8365,Hatchback,120000,Manual,1,Maruti Alto 800,2014,180000.0,Petrol,Third Party insurance,5.0,796.0,22.74,Others,No,No,Power,140.0,5.0,177.0,Kolkata
8366,Sedan,50000,Automatic,3,Mercedes-Benz C-Class,2011,550000.0,Petrol,Third Party insurance,5.0,1796.0,11.74,Others,No,No,Power,230.0,4.0,475.0,Kolkata
8367,Hatchback,40000,Manual,1,Maruti Ritz,2012,140000.0,Petrol,Third Party insurance,5.0,1197.0,18.50,Others,No,No,Power,156.0,5.0,236.0,Kolkata
8368,SUV,120000,Manual,2,Renault Duster,2017,500000.0,Diesel,Third Party insurance,5.0,1461.0,19.72,Others,Yes,No,Power,168.0,5.0,410.0,Kolkata

In [66]:
# handling categorical variables - one-hot encoding
df1 = pd.get_dummies(df, drop_first=True)  # One-hot encoding
df1

,Kilometers driven,Number of owners,Year of manufacture,price,Seats,Engine,Mileage,Top Speed,No Door Numbers,Cargo Volumn,...,Super Charger_Yes,Steering Type_Electric,Steering Type_Hydraulic,Steering Type_Manual,Steering Type_Power,City_Chennai,City_Delhi,City_Hyderabad,City_Jaipur,City_Kolkata
0,120000,3,2015,400000.0,5.0,998.0,23.10,150.0,5.0,235.0,...,False,False,False,False,True,False,False,False,False,False
1,32706,2,2018,811000.0,5.0,1497.0,17.00,NaN,4.0,352.0,...,False,False,False,False,True,False,False,False,False,False
2,11949,1,2018,585000.0,5.0,1199.0,23.84,150.0,5.0,242.0,...,False,False,False,False,True,False,False,False,False,False
3,17794,1,2014,462000.0,5.0,1197.0,19.10,172.0,4.0,407.0,...,False,False,False,False,True,False,False,False,False,False
4,60000,1,2015,790000.0,5.0,1248.0,23.65,190.0,5.0,353.0,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,10000,1,2022,510000.0,5.0,998.0,25.24,NaN,5.0,313.0,...,False,True,False,False,False,False,False,False,False,True
8365,120000,1,2014,180000.0,5.0,796.0,22.74,140.0,5.0,177.0,...,False,False,False,False,True,False,False,False,False,True
8366,50000,3,2011,550000.0,5.0,1796.0,11.74,230.0,4.0,475.0,...,False,False,False,False,True,False,False,False,False,True
8367,40000,1,2012,140000.0,5.0,1197.0,18.50,156.0,5.0,236.0,...,False,False,False,False,True,False,False,False,False,True
8368,120000,2,2017,500000.0,5.0,1461.0,19.72,168.0,5.0,410.0,...,False,False,False,False,True,False,False,False,False,True

In [67]:
df1.columns

Index(['Kilometers driven', 'Number of owners', 'Year of manufacture', 'price',
       'Seats', 'Engine', 'Mileage', 'Top Speed', 'No Door Numbers',
       'Cargo Volumn',
       ...
       'Super Charger_Yes', 'Steering Type_Electric',
       'Steering Type_Hydraulic', 'Steering Type_Manual',
       'Steering Type_Power', 'City_Chennai', 'City_Delhi', 'City_Hyderabad',
       'City_Jaipur', 'City_Kolkata'],
      dtype='object', length=509)

In [68]:
len(df1.columns)

509

In [69]:
df.to_csv("Cleaned_cars_data.csv")

In [70]:
df.isnull().mean() * 100

body type               0.048420
Kilometers driven       0.000000
Transmission type       0.000000
Number of owners        0.000000
car model               0.000000
Year of manufacture     0.000000
price                   0.000000
Fuel Type               0.000000
Insurance Validity      0.048420
Seats                   0.072630
Engine                  0.048420
Mileage                 3.437840
Color                   0.036315
Turbo Charger          12.431909
Super Charger          23.411209
Steering Type           3.074688
Top Speed              45.285074
No Door Numbers         0.133156
Cargo Volumn           18.980753
City                    0.000000
dtype: float64